{%- assign resume = site.data.about -%}


<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700" rel="stylesheet" type="text/css">
<link href="/css/resume.css" rel="stylesheet" type="text/css">


<header class="page-header">
  <!-- Avatar -->
  {%- if site.gravatar_hash -%}
    <img src="" alt="my photo" class="avatar no-print" itemprop="image">
  {%- endif -%}
  <!-- Name and Suffix -->
  <div class="header-title">
    <span class="header-name" itemprop="name">{{ resume.header.name }}</span>
    {%- if resume.header.nicks -%}
      <span class="header-suffix">, {{ resume.header.nicks }}</span>
    {%- endif -%}
  </div>
  <!-- Title and social icon links -->
  <div class="title-bar no-print">
    <div class="job-title" itemprop="jobTitle">{{ resume.header.current_title }}</div>
    {%- if resume.social -%}
      <div class="icon-links">
        {%- for item in resume.social -%}
          <a href="{{ item[1] }}" class="icon-link" itemprop="sameAs" target="_blank">
            {%- case item[0] -%}
              {%- when "GitHub"    -%}<img src="/img/socialicons/github.svg">
            {%- endcase -%}
          </a>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
  <!-- Summary -->
  <div class="executive-summary" itemprop="description"><p>{{ resume.header.intro }}</p></div>
  <!-- Contact me button -->
</header>


{%- if resume.sections.recognition -%}
  <section class="content-section">
    <header class="section-header"><h2>Recognition</h2></header>
    <div class="section-content">
    {%- for recognition in site.data.recognitions -%}
      <div class="resume-item">
        <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
        <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
        <div class="resume-item-copy">{{ recognition.summary }}</div>
      </div>
    {%- endfor -%}
    </div>
  </section>
{%- endif -%}


{%- if resume.sections.interests -%}
  <section class="content-section">
    <header class="section-header"><h2>Outside Interests</h2></header>
    <div class="section-content">
      <div class="resume-item">
        <div class="resume-item-copy">{{ site.data.interests.description }}</div>
      </div>
    </div>
  </section>
{%- endif -%}

{%- if resume.sections.links -%}
  <section class="content-section">
    <header class="section-header"><h2>Additional Links</h2></header>
    <div class="section-content">
      <div class="resume-item">
        <ul class="resume-item-list">
          {%- for item in site.data.links -%}<li><strong>{{ item.name }}</strong>: <a href="{{ item.url }}" target="_blank">{{ item.label }}</a></li>{%- endfor -%}
        </ul>
      </div>
    </div>
  </section>
{%- endif -%}

<div class="bottom-bar no-print">
  <div class="bottom-bar__content">
    <div class="bottom-bar__text">
    </div>
    <button class="bottom-bar__close" type="button">&times;</button>
  </div>
</div>

{%- comment -%}
<footer class="page-footer">
</footer>
{%- endcomment -%}
